$color-blue-primary: #121621;
$color-blue-secondary: #171C28;
$color-blue-extra-light: #EDF1F7;
$color-blue-lighter: #BAC1CC;
$color-blue-light: #868FA3;
$color-primary: #8160EF;
$color-primary-dark: #6137EF;
$color-secondary: #23C4F8;
$color-secondary-dark: #0FB0D6;
$color-red: #f44336;
